[submodule "GætEtTal(Alle)/GætEtTalMedBinarySearch"]
    path = GætEtTal(Alle)/GætEtTalMedBinarySearch
    url = https://github.com/Jothom2912/GuessTheNumberBinarySearch.git
[submodule "GætEtTal(Alle)/OmvendtG-tEtTal"]
    path = GætEtTal(Alle)/OmvendtG-tEtTal
    url = https://github.com/Jothom2912/OmvendtG-tEtTal.git
