[submodule "GætEtTal(Alle)/GætEtTalMedBinarySearch"]
	path = GætEtTal(Alle)/GætEtTalMedBinarySearch
	url = https://github.com/your-username/GætEtTalMedBinarySearch.git
[submodule "GætEtTal(Alle)/OmvendtGætEtTal"]
	path = GætEtTal(Alle)/OmvendtGætEtTal
	url = https://github.com/your-username/OmvendtGætEtTal.git
